.SearchBar {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border:thin solid rgb(237, 237, 237);
  box-shadow: 1px 1px 0.25px 0.25px rgb(214, 214, 214);
  border-radius: 8px;
  flex: 2;
  input {
    border: none;
    padding: 0.1rem 1rem;
    &:focus {
      outline: none;
    }
  }
}
