.SuperAdminMain {
  display: flex;
  .TopBar{
    display: flex;
    gap:1rem;
}
  .Main {
    flex: 5;
    padding: 1rem;
    .BoardList {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }
}
