.SupervisorMain {
    max-height: 80vh;
    display: flex;

    .Main {
      flex: 5;
      padding: 1rem;
    
    }
    .Tabs{
      margin:1rem;
      max-height:65vh;
      overflow-y: scroll;
    }
  }
  